nav {
  background-color: rgb(173, 160, 160);
  color: black;
  height: 8vh;
}
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.nav_links > a {
  text-decoration: none;
  margin-left: 1rem;
}

.nav_button {
  outline: none;
  background-color: coral;
  border-radius: 9999px;
  border: 0;
  padding: 0.5em 1em;
  color: #fff;
  cursor: pointer;
}
